@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f9f9;
    font: 13px/21px "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
.clear-fix :after{
    content: "";
    display: block;
    clear: both;
}
.container {
    background: #fff;
    width: 1060px;
    margin: 0 auto;
    padding: 51px 47px 60px;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .3)
}
.nav-menu {
    background: #000;
}
.nav-menu__item {
    float : left;
}

.nav-menu__link {
    display: block;
    color: #fff;
    padding: 9px 24px 10px;
    text-decoration: none;
    background: #555555;
}